@import "colors";

.btn  {
  padding: 1rem 1.5rem;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-primary  {
  border-radius: 5px;
}

.btn-rounded  {
  border-radius: 30px;
}

.btn-outlined  {
  border-width: 3px;
  border-style: solid;
  transition: all 0.5s;

  &:hover {
    color: #fff;
    transition: all 0.5s;
  }
}

.gradient-black {
  background: $black !important;
}

.black-btn  {
  border-color: $black;
  color: $black;

  &:hover {
    background-color: $black;
  }
}

.green-btn  {
  border-color: $green;
  color: $green;

  &:hover {
    background-color: $green;
  }
}

.orange-btn  {
  border-color: $orange-btn;
  color: $orange-btn;

  &:hover {
    background-color: $orange-btn;
  }
}

.purple-btn  {
  border-color: $purple-btn;
  color: $purple-btn;

  &:hover {
    background-color: $purple-btn;
  }
}

button:disabled  {
  box-shadow: unset;
  opacity: .8;
  background: $disabled;
  color: #fff;
  border: unset;

  &:hover  {
    box-shadow: unset;
    background: $disabled;
  }
}