// colors =================================================

//gradient 1 colors
$green: #1fdeb3;
$blue: #12c3d2;
//gradient 1 colors

//=========================================================


//gradient 2 colors
$yellow: #FFE53B;
$orange: #FF2525;

$orange-btn: #ff9f33;
//=========================================================


//gradient 3 colors
$dark-blue: #21D4FD;
$purple: #B721FF;

$purple-btn: #7274ff;
//=========================================================

// other colors============================================
$red: #f44336;
$black: #212121;
$disabled: #fa5151;
//=========================================================
