// colors
$green: #1fdeb3;
$blue: #12c3d2;
$yellow: #FFE53B;
$orange: #FF2525;
$orange-btn: #ff9f33;
$dark-blue: #21D4FD;
$purple: #B721FF;
$purple-btn: #7274ff;
$red: #f44336;
$black: #212121;
$disabled: #c1c1c1;
