a  {

  text-decoration: none;
}

button, input, select, textarea:focus  {

  outline: none;
}

button  {

  background-color: unset;
  border: none;
  -webkit-appearance:none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
