@import "colors";
@import "fonts";

.btn  {

  padding: 1rem 3rem;
  color: #fff;
  cursor: pointer;
}

.btn-hover  {

  box-shadow: 0px 4px 7px 0px rgba(18, 194, 211, 0.48);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:hover {

    box-shadow: 0px 7px 13px 0px rgba(18, 194, 211, 0.80);
    transition: all 0.5s ease-in-out;
  }
}

.btn-primary  {

  border-radius: 5px;
}

.btn-rounded  {

  border-radius: 30px;
}

.btn-outlined  {

  border-width: 4.43px;
  border-style: solid;
  border-color: $green;
  color: $green;
  transition: all 0.5s;
  &:hover {

    background-color: $green;
    color: #fff;
    transition: all 0.5s;
  }
}
