// bower:scss
// endbower
@import "colors";
@import "fonts";
@import "grid";
@import "forms";
@import "cards";
@import "default";
@import "gradient";
@import "buttons";

body {
  font-family: 'roboto';
  padding: 0;
  margin: 0;
}

.container  {

  padding: 2rem 0;
}

.buttons {

  a  {

    margin-right: 1rem;
    line-height: 4rem;
  }
}

.boxes  {

  label  {

    margin-right: 2rem;
  }
}

.grid  {

  .columns  {

    background-color: $green;
    padding: 1rem 1px;
    text-align: center;
    p  {

      margin: 0;
      color: #fff;
    }
  }
}

@media screen and (max-width: 800px) {

  .card  {

    margin-bottom: 2rem;
  }
  .columns  {

    margin-bottom: 2rem;
  }
}
