// bower:scss
// endbower
@import "colors";
@import "fonts";
@import "grid";
@import "forms";
@import "cards";
@import "default";
@import "gradient";
@import "buttons";

body {
  font-family: 'roboto';
  padding: 0;
  margin: 0;
}

.container  {

  padding: 2rem 0;
}

.header  {

  padding: 6rem 0;
  text-align: center;
  .brand  {

    padding: 4rem 0;
    .logo  {

      background-image: url('http://localhost:9000/images/unnamed.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 6rem 6rem;
    }
    h2  {

      margin-top: 8rem;
    }
  }
  .github  {

    color: #000;
    font-size: 16pt;
    font-weight: 500;
    &:visited  {

      color: $black;
    }
    &:focus  {

      color: $black;
    }
  }
  .row  {

    h3  {

      color: $black;
    }
    p  {

      color: lighten($black, 20);
    }
  }
}

.instalation  {

  .push-up  {

    line-height: 6rem;
  }
  .cdn  {

    color: #e4e4e4;
    padding: 14px 40px;
    line-height: 30px;
  }
  .download  {

    margin: 30px 0 0 0;
  }
}

.buttons {

  a  {

    margin-right: 1rem;
    line-height: 4rem;
  }

  p  {

    color: lighten($black, 20);
  }
  h5  {

    color: lighten($black, 15);
    margin: 15px 0;
  }
}

.boxes  {

  label  {

    margin-right: 2rem;
  }
  .push-down  {

    margin-bottom: 2rem;
  }
}

.grid  {

  .columns  {

    background-color: $green;
    padding: 1rem 1px;
    text-align: center;
    p  {

      margin: 0;
      color: #fff;
    }
  }
}

.code  {

  background-color: #282c35;
  color: #9ea9bb;
  font-size: 12pt;
  margin-bottom: 1rem;
  border-radius: 5px;
  pre  {

    margin-left: -5rem;
  }
  code  {

    padding: 0.2rem 0.5rem;
    font-size: 90%;
  }
  h4  {

    color: #fff;
  }

  .pad  {

    padding: 10px;
  }

  .div  {

    color: #e26e81;
  }

  .class  {

    color: #dc8b42;
  }

  .class-name  {

    color: #a1ca8b;
  }
}

@media screen and (max-width: 1200px) {

  .card  {

    margin-bottom: 2rem;
  }
  .columns  {

    margin-bottom: 2rem;
  }
  button  {

    margin-bottom: 14px;
  }
}

.title  {

  margin: 0 0 10px 0;
  color: $black;
}

.meh  {

  margin-bottom: 25px;
}

.divider  {

  height: 10px;
  width: 30px;
  background: $black;
  border-radius: 2px;
}

.little  {

  border: 1px solid #d8d8d8;
  border-radius: 4px;
  padding: 7px 23px;
  background: #282c35;
  color: #a1ca8b;
}

.link  {

  margin-right: 0px !important;
  color: $blue;
}

.footer  {

  display: flex;
  justify-content: space-between;
  text-align: center;
  span  {

    background-image: url('http://localhost:9000/images/unnamed.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: .4rem .9rem;
    margin-right: 1rem;
  }
  a  {

    color: $black;
  }
  a:visited  {

    color: $black;
  }
}

.description  {

  margin: 3rem 0 10px 0;
}

.flexed  {

  display: flex;
  align-items: center;
  pre  {

    margin: 0 10px 0 10px;
  }
}

pre > code  {

    white-space: pre-wrap;
    word-wrap: break-word;
  }

@media screen and (max-width: 680px) {
  .footer  {

    flex-wrap: wrap;
    flex-direction: column;
    a  {

      margin-bottom: 20px;
    }
  }
}
