// bower:scss
// endbower
@import "colors";
@import "fonts";
@import "gradient";
@import "default";
@import "grid";
@import "forms";
@import "cards";
@import "buttons";
@import "media";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.container  {
  padding: 2rem 0;
}

.header  {
  padding: 4rem 0;
  text-align: center;
  .brand  {
    padding: 4rem 0;
    .logo  {
      background-image: url('../images/logo.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 6rem 6.8rem;
    }
    h2  {
      margin-top: 8rem;
    }
  }
}

.nav .brand-logo .branding  {
  background-color: #fff;
  padding: .5rem 1rem;
  border-radius: 5px;
}

.buttons {
  a  {
    margin-right: 1rem;
    line-height: 4rem;
  }
  p  {
    color: lighten($black, 20);
  }
  h5  {
    color: lighten($black, 15);
    margin: 15px 0;
  }
  .type-buttons  {
    padding: 1rem 0;
    button  {
      &:first-child  {
        margin-right: 2rem;
        @media screen and (max-width: 900px)  {
          margin-right: unset;
        }
      }
      &:last-child  {
        margin-left: 2rem;
        @media screen and (max-width: 900px)  {
          margin-left: unset;
        }
      }
    }
  }
}

.boxes  {
  label  {
    margin-right: 2rem;
  }
  .push-down  {
    margin-bottom: 2rem;
  }
}


.columns  {
  background-color: $green;
  padding: 1rem 1px;
  text-align: center;
  p  {
    margin: 0;
    color: #fff;
  }
}

@media screen and (max-width: 1200px) {
  .card  {
    margin-bottom: 2rem;
  }
  .columns  {
    margin-bottom: 2rem;
  }
  button  {
    margin-bottom: 14px;
  }
}

.divider  {
  height: 10px;
  width: 30px;
  background: $black;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.little  {
  color: #a1ca8b;
  max-width: 15%;
  @media screen and (max-width: $tablet){
    max-width: 30%;
  }
  @media screen and (max-width: $mobile){
    max-width: 80%;
  }
}

.footer  {
  display: flex;
  justify-content: space-between;
  text-align: center;
  @media screen and (max-width: 680px) {
    flex-wrap: wrap;
      flex-direction: column;
  }
  span  {
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: .4rem 1rem;
    margin-right: 1rem;
  }
  a  {
    color: $black;
    @media screen and (max-width: 680px) {
      margin-bottom: 20px;
    }
  }
  a:visited  {
    color: $black;
  }
}

.flexed  {
  display: flex;
  align-items: center;
  pre  {

    margin: 0 10px 0 10px;
  }
}

pre  {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #282c35;
  border-radius: 3px;
  word-break: normal;
  word-wrap: normal;
  color: white;
}

a:visited  {

  color: $blue;
}

.mbottom {
  margin-bottom: 3rem;
}
