.buttons a {
    margin-right: 1rem;
    line-height: 4rem;
}
.buttons p {
    color: #545454;
}
.buttons h5 {
    color: #474747;
    margin: 15px 0;
}
.buttons .type-buttons {
    padding: 1rem 0;
}
.buttons .type-buttons button:first-child {
    margin-right: 2rem;
}
@media screen and (max-width: 900px) {
    .buttons .type-buttons button:first-child {
        margin-right: unset;
    }
}
.buttons .type-buttons button:last-child {
    margin-left: 2rem;
}
@media screen and (max-width: 900px) {
    .buttons .type-buttons button:last-child {
        margin-left: unset;
    }
}  