body {
    font-family: 'roboto';
    padding: 0;
    margin: 0;
}

.container {
    padding: 2rem 0;
}

.container-full {
    padding: 1rem 0;
}

.dark  {

    background: #eaeaea;
}

.columns {
    background-color: #1fdeb3;
    padding: 1rem 1px;
    text-align: center;
}
.columns p {
    margin: 0;
    color: #fff;
}

.code {
    color: #9ea9bb;
    font-size: 12pt;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.code h4 {
    color: #282c35;
}
.code .pad {
    padding: 10px;
}
.code .div {
    color: #e26e81;
}
.code .class {
    color: #dc8b42;
}
.code .class-name {
    color: #a1ca8b;
}

@media screen and (max-width: 1200px) {
    .card {
        margin-bottom: 2rem;
    }

    .columns {
        margin-bottom: 2rem;
    }

    button {
        margin-bottom: 14px;
    }
}
.title {
    margin: 0 0 10px 0;
    color: #212121;
}
.meh {
    margin-bottom: 25px;
}
.divider {
    height: 10px;
    width: 30px;
    background: #212121;
    border-radius: 2px;
    margin-bottom: 1rem;
}
.little {
    color: #a1ca8b;
    max-width: 35%;
}
@media screen and (max-width: 600px) {
    .little {
        max-width: 60%;
    }
}

.link {
    margin-right: 0px !important;
    color: #12c3d2;
}

.description {
    margin: 3rem 0 10px 0;
}
.flexed {
    display: flex;
    align-items: center;
}
.flexed pre {
    margin: 0 10px 0 10px;
}
pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #282c35;
    border-radius: 3px;
    word-break: normal;
    word-wrap: normal;
    color: white;
}
pre p  {

    margin: 0;
}
.back-home a {
    color: #12c3d2;
    font-size: 12pt;
}
.back-home .d-text {
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 
                 0 2px 0 #c9c9c9, 
                 0 3px 0 #bbb, 
                 0 4px 0 #b9b9b9, 
                 0 5px 0 #aaa, 
                 0 6px 1px rgba(0, 0, 0, 0.1), 
                 0 0 5px rgba(0, 0, 0, 0.1), 
                 0 1px 3px rgba(0, 0, 0, 0.3), 
                 0 3px 5px rgba(0, 0, 0, 0.2), 
                 0 5px 10px rgba(0, 0, 0, 0.25), 
                 0 10px 10px rgba(0, 0, 0, 0.2), 
                 0 20px 20px rgba(0, 0, 0, 0.15);
    font-size: 60pt;
}
a:visited {
    color: #12c3d2;
}