.intro {
    padding: 3rem 0;

    .branding {
        padding-bottom: 3rem;
    }

    .github-buttons {
        padding: 1rem 0;

        .iframe {
            padding-left: 10px;
        }

        .forkit {
            margin-left: 10px;
        }
    }
}